@inherits LayoutComponentBase
@using FamilyHQ.WebUi.Components

<div id="kiosk-shell" class="kiosk-shell">
    <AmbientBackground />
    <BurnInOrbit />
    <div class="kiosk-content">
        <DashboardHeader />
        <main class="kiosk-main">
            @Body
        </main>
    </div>
</div>
