@inherits LayoutComponentBase
@using FamilyHQ.WebUi.Services
@inject IThemeService ThemeService
@inject IDisplaySettingService DisplaySettingService

<div class="page">
    @Body
</div>

@code {
    protected override async Task OnInitializedAsync()
    {
        await ThemeService.InitialiseAsync();
        await DisplaySettingService.InitialiseAsync();
    }
}
