<div class="brand-logo @Class" role="img" aria-label="FamilyHQ">
    <img class="brand-logo__img brand-logo__img--morning" src="img/logos/morning.png" alt="" aria-hidden="true" draggable="false" />
    <img class="brand-logo__img brand-logo__img--daytime" src="img/logos/daytime.png" alt="" aria-hidden="true" draggable="false" />
    <img class="brand-logo__img brand-logo__img--evening" src="img/logos/evening.png" alt="" aria-hidden="true" draggable="false" />
    <img class="brand-logo__img brand-logo__img--night" src="img/logos/night.png" alt="" aria-hidden="true" draggable="false" />
</div>

@code {
    [Parameter] public string? Class { get; set; }
}
